@import 'variables';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 50px;
    border-bottom: solid 2px black;
    padding: 12px 0;
    color: black;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.footer-container {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

.image-circle {
    border-radius: 25%;
}

.create-pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

    &_fieldset {
        border: none;
    }

    & div {
       margin: 10px 0;; 
    }
}

.pizza_button {
    color: white;
    background-color: $brand-primary;
    font-size: 20px;
    padding: 10px;
}